<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>석적고등학교 3-6/편집</title><link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
        <div>
            <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="석적고 로고">
        </div>
        <nav>
            <a href="{{ url_for('index')}}">돌아가기</a>
        </nav>
        </header>
        <div class="content">
            <img src="{{ url_for('static', filename='img/on_the_anvil.jpg') }}" alt="석적고 로고">
            <br>
        </div>
    </body>
</html>
