<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>석적고등학교 위키</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
  </head>
  <body>

    <!-- 초록색 맨 위 -->
    <header>
      <div>
        <a href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='img/logo.webp') }}" alt="석적고 로고"></a>
      </div>
      <nav>
        <a href="{{ url_for('change')}}">최근 변경</a>
        <a href="{{ url_for('discussion')}}">최근 토론</a>
        <a href="{{ url_for('edit')}}">편집</a>
      </nav>
    </header>

    <div class="content">
      <h1>석적고등학교 위키 </h1>
      <hr>

      <!-- 목차와 지도가 나란히 있는 상단 섹션 -->
      <div class="top-section">
        <!-- 목차 -->
        <aside class="sidebar">
          <strong>목차</strong><br>
          <a href="#section_1">1. 개요</a>
          <a href="#section_2">2. 학교 연혁</a>
          <a href="#section_3">3. 교훈 및 상징</a>
          <div class="subsection">
            <a href="#section_3_1">3.1. 교표</a>
            <a href="#section_3_2">3.2. 교화</a>
            <a href="#section_3_3">3.3. 교목</a>
            <a href="#section_3_4">3.4. 교훈</a>
            <a href="#section_3_5">3.5. 교가</a>
            <a href="#section_3_6">3.6. 로고</a>
          </div>
          <a href="#section_4">4. 학교 특징</a>
          <div>
            <a href="#section_4_1">4.1. 교복</a>
            <a href="#section_4_1">4.2. 지형</a>
          </div>
          <a href="#section_5">5. 학교 시설</a>
          <div class="subsection">
            <a href="#section_5_1">5.1. 본관</a>
            <div>
              <a href="#section_5_1_1">5.1.1. 체육관</a>
              <a href="#section_5_1_2">5.1.2. 식당</a>
            </div>
            <a href="#section_5_2">5.2. 음악실</a>
            <a href="#section_5_3">5.3. 컴퓨터실</a>
            <a href="#section_5_4">5.4. 동아리실</a>
            <a href="#section_5_5">5.5. 밴드실</a>
            <a href="#section_5_6">5.6. 생활관(화산의지원)</a>
          </div>
          <a href="#section_6">6. 학교생활</a>
          <div class="subsection">
            <a href="#section_6_1">6.1. 주요 행사</a>
            <a href="#section_6_2">6.2. 학교 일과</a>
            <a href="#section_6_3">6.3. 기숙사 생활</a>
          </div>
          <a href="#section_7">7. 운동부</a>
          <a href="#section_8">8. 출신 인물</a>
          <a href="#section_9">9. 이용 가능한 대중교통</a>
          <div>
            <a href="#section_9_1">9.1. 버스</a>
          </div>
          <a href="#section_10">10. 사건 사고 및 논란</a>
          <div>
            <a href="#section_10_1">10.1. 2016년 급식 식중독 사고</a>
          </div>
          <a href="#section_11">11. 학급</a>
          <div>
            <a href="#section_11_1">11.1. 3학년 6반</a>
            <div>
              <a href="#section_11_2">11.2.1. 6반의 인물들</a>
              <div class="subsection">
                <a href="#section_11_2_1">11.2.1. 선생님</a>
                <a href="#section_11_2_2">11.2.2. 반장</a>
                <a href="#section_11_2_3">11.2.3. 부반장</a>
              </div>
              <a href="#section_11_3">11.3. 사건사고 목록</a>
              <div class="subsection">
                <a href="#section_11_3_1">11.3.1. 사건1</a>
                <a href="#section_11_3_2">11.3.2. 사건2</a>
                <a href="#section_11_3_3">11.3.3. 사건3</a>
              </div>
              <a href="#section_11_4">11.4. 명대사</a>
              <a href="#section_11_5">11.5. 청소역할분담</a>
              <div class="subsection">
                <a href="#section_11_5_1">11.5.1. A조</a>
                <a href="#section_11_5_2">11.5.2. B조</a>
                <a href="#section_11_5_3">11.5.3. C조</a>
              </div>
            </div>
          </div>
          <a href="#section_12">12. 기타</a>
        </aside>

        <!-- 지도 및 정보 -->
        <div class="map-box">
          <!-- 소제목 -->
          <h3 style="text-align: center">석적고등학교<br>
          <small style="text-align: center">SEOKJEOK High School</small></h3><hr>
          <!-- 지도 -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.7722025118366!2d128.41605687648714!3d36.081634371196155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565c35474a5a559%3A0x8e4077fe6b2c2531!2z7ISc7Jq47Yq567OE7Iuc6rCV7JWE!5e0!3m2!1sko!2skr!4v1718262436613!5m2!1sko!2skr" widtd="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe><hr>
          <!-- 표 -->
          <table class="map-box-table">
            <tr>
              <th>개교</th><td>2013년 3월 1일</td>
            </tr>
            <tr>
              <th>유형</th><td>일반계 고등학교</td>
            </tr>
            <tr>
              <th>성별</th><td>남녀 공학</td>
            </tr>
            <tr>
              <th>형태</th><td>공립</td>
            </tr>
            <tr>
              <th>교직원 현황</th><td>차용석</td>
            </tr>
            <tr>
              <th>교직원 현황</th><td>72명 (2023학년도)</td>
            </tr>
            <tr>
              <th>학생 현황</th><td>583명 (2023학년도)</td>
            </tr>
            <tr>
              <th>관할청</th><td>경상북도교육청</td>
            </tr>
            <tr>
              <th>소재지</th><td>경상북도 칠곡군 석적읍 동중리 1길 65-20</td>
            </tr>
            <tr>
              <th>웹사이트</th><td><img src="{{ url_for('static', filename='img/home.svg') }}" alt="웹사이트"></td>
            </tr>
          </table>
        </div>
      </div>

      <!-- 개요 Section -->
      <div class="section" id="section_1">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>1. 개요</h2>
        </div>
        <div class="section-body">
          <hr>
          <h3>꿈을 향한 도전! 더불어 사는 지혜, 비상(飛上) 석적고등학교!<a class="fn" id="fn_1" href="#footnote-1">[1]</a></h3><br>
          <p>경상북도 칠곡군 석적읍에 있는 남녀 공학 공립 일반계 고등학교로 2013년 3월 개교했다.</p>
        </div>
      </div>

      <!-- 학교연혁 Section -->
      <div class="section" id="section_2">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>2. 학교연혁</h2>
        </div>
        <div class="section-body">
          <table class="section2-table">
            <tr>
              <th>2011년 9월 23일</th><td>석적고등학교 설립 인가 (25학급)</td>
            </tr>
            <tr>
              <th>2013년 2월 25일</th><td>석적고등학교 준공 검사 완료</td>
            </tr>
            <tr>
              <th>2013년 3월 1일</th><td>초대 김영민 교장 취임</td>
            </tr>
            <tr>
              <th>2013년 7월 15일</th><td>자율학교 지정</td>
            </tr>
            <tr>
              <th>2013년 12월 6일</th><td>자기주도 학습 입학 전형 실시</td>
            </tr>
            <tr>
              <th>2014년 1월 18일</th><td>생활관 花山義智園 준공검사 완료(100석 규모)</td>
            </tr>
            <tr>
              <th>2014년 3월 1일</th><td>교육부 요청 - 도 지정 경제교육 연구학교 운영(2년간)</td>
            </tr>
            <tr>
              <th>2015년 3월 1일</th><td>선진형 교과교실제 실시</td>
            </tr>
            <tr>
              <th>2016년 2월 16일</th><td>제1회 졸업식(234명)</td>
            </tr>
            <tr>
              <th>2016년 3월 1일</th><td>SW교육 선도학교 운영(~2017.02.28) 제2대 신범식 교장 취임</td>
            </tr>
            <tr>
              <th>2016년 8월 18일</th><td>자율학교 재지정(2017.03.01~2020.02.28)</td>
            </tr>
            <tr>
              <th>2017년 2월 9일</th><td>제2회 졸업식(237명)</td>
            </tr>
            <tr>
              <th>2017년 3월 1일</th><td>교육부 요청 - 도 지정 SW교육 연구학교 운영(2년간)</td>
            </tr>
            <tr>
              <th>2018년 2월 9일</th><td>제3회 졸업식 (236명)</td>
            </tr>
            <tr>
              <th>2018년 3월 2일</th><td>제4회 입학식 (187명)</td>
            </tr>
            <tr>
              <th>2019년 9월 1일</th><td>제4대 송재봉 교장 취임</td>
            </tr>
            <tr>
              <th>2020년 2월 4일</th><td>제5회 졸업식</td>
            </tr>
            <tr>
              <th>2021년 2월 5일</th><td>제6회 졸업식</td>
            </tr>
            <tr>
              <th>2022년 2월 10일</th><td>제7회 졸업식</td>
            </tr>
            <tr>
              <th>2023년 2월 9일</th><td>제8회 졸업식</td>
            </tr>
          </table>
        </div>
      </div>

      <!-- 교훈 및 상징 Section -->
      <div class="section" id="section_3">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>3. 교훈 및 상징</h2>
        </div>
        <div class="section-body">
          <hr>
          <!-- 교포 Section -->
          <div class="section" id="section_3_1">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>3.1. 교표</h3>
            </div>
            <div class="section-body">
              <hr>
              <div class="li-index">
                <li>파랑: 성공, 능력을 상징</li>
                <li>펜, 책: 학문, 지식 배움을 상징</li>
                <li>2013: 개교 년도를 상징</li>
                <li>학문과 지식을 열심히 수련 하여 모든 학생이 원하는 목표만큼 달성하자는 의미(학교 명 한글, 영문 이니셜)</li>
              </div>
            </div>
          </div>

          <!-- 교화 Section -->
          <div class="section" id="section_3_2">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>3.2. 교화</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>
                <img src="{{ url_for('static', filename='img/flower.webp') }}" alt="영산홍"><br>
                <a href="https://namu.wiki/w/영산홍">영산홍</a>
              </p>
              <div class="li-index">
                <li>특징: 진달래과의 꽃으로 4 ~ 5월에 붉은색의 꽃이 피며, 겨울에도 잎이 완전히 떨어지지 않는다.</li>
                <li>상징: 열정, 강한 의지, 깊은 충성심</li>
              </div>
            </div>
          </div>

          <!-- 교목 Section -->
          <div class="section" id="section_3_3">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>3.3. 교목</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>
                <img src="{{ url_for('static', filename='img/tree.webp') }}" alt="느티나무"><br>
                <a href="https://namu.wiki/w/느티나무">느티나무</a>
              </p>
              <div class="li-index">
                <li>특징: 우리나라가 원산지로서 산기슭과 들에서 자라며, 생장 속도가 빠르며 내한성이 강하다.</li>
                <li>상징: 고난 극복, 진취적 기상</li>
              </div>
            </div>
          </div>

          <!-- 교훈 Section -->
          <div class="section" id="section_3_4">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>3.4. 교훈</h3>
            </div>
            <div class="section-body">
              <hr>
              <h2>" </h2><h3>꿈을 향한 도전<br>더불어 사는 지혜</h3><h2> "</h2>
            </div>
          </div>

          <!-- 교가 Section -->
          <div class="section" id="section_3_5">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>3.5. 교가</h3>
            </div>
            <div class="section-body">
              <hr>
              <div class="li-index">
                <li>학교 창입 후 근 2년 간 교과가 없었다.</li>
                <li>학생 공모전도 하고 음악 교사가 작곡 하기도 했으며, 지금 교가는 2회 졸업생의 곡이다.</li>
                <li>1학년 음악시간 때 배운다. 노래가 신나고 경쾌하다. 마지막 부분이 가장 중요하다고 음악 교사가 강조한다.</li>
              </div>
              <p>
                <img src="{{ url_for('static', filename='img/lyrics.webp') }}" alt="악보">
              </p>
              <p>
                <img src="{{ url_for('static', filename='img/music.webp') }}" alt="악보">
              </p>
            </div>
          </div>

          <!-- 로고 Section -->
          <div class="section" id="section_3_6">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>3.6. 로고</h3>
            </div>
            <div class="section-body">
              <hr>
              <div class="li-index">
                <li>석적고등학교의 로고는 미술 교사가 디자인했다고 한다.</li>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- 학교 특징 Section -->
      <div class="section" id="section_4">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>4. 학교 특징</h2>
        </div>
        <div class="section-body">
          <hr>
          <!-- 교복 Section -->
          <div class="section" id="section_4_1">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>4.1. 교복</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>
                처음 석적고등학교 개교 시에는 교복이 선정되지 않아서 사복을 입고 등교를 했다. 학교 교복 선정을 위하여 여러 교복 디자인을 각 교복사별로 받았으며 학생과 학부모회의 의견 을 반영하여 학교 교복을 선정하게 되었다. 교복을 선정하기 위해 학생에게 교복을 입혀 패션쇼를 하기도 했다. 이런 과정을 거쳐서 나온 교복이 2021년 기준의 석적고등학교 교복이 되었다. 2019년 신입생까지만 해도 동복 재킷을 착용 했었다. 2020학년도 신입생부터 기존의 동복 재킷 대신 동복 후드집업을 입게 된다.
              </p>
            </div>
          </div>

          <!-- 지형 Section -->
          <div class="section" id="section_4_2">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>4.2. 지형</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>
                학교 뒤 쪽에는 유학산, 앞 쪽에는 경마산을 바라보고 있다.
              </p>
            </div>
          </div>

        </div>
      </div>

      <!-- 학교 시설 Section -->
      <div class="section" id="section_5">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>5. 학교 시설</h2>
        </div>
        <div class="section-body">
          <hr>
          <!-- 본관 Section -->
          <div class="section" id="section_5_1">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>5.1. 본관</h3>
            </div>
            <div class="section-body">
              <hr>
              <!-- 체육관 -->
              <div class="section" id="section_5_1_1">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>5.1.1. 체육관</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <div class="li-index">
                    <li>본관 2층에 위치하며 입학 전 예비 소집 시 처음으로 들어오게 되는 건물이다.</li>
                    <li>또한 입학식, 졸업식, 느티나무축제 등 중요한 교내 행사가 여기서 진행된다.</li>
                    <li>주로 체육수업이 이루어지는 장소이고, 많은 교육을 받는 곳이다.</li>
                  </div>
                </div>
              </div>

              <!-- 식당 -->
              <div class="section" id="section_5_1_2">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>5.1.2. 식당</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <div class="li-index">
                    <li>본관 1층에 위치하며 2021년 기준 코로나19로 인해 칸막이 설치가 되어있었다. 현재는 없어지고 내부가 새로 개편되었다.</li>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          <!-- 음악실 Section -->
          <div class="section" id="section_5_2">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>5.2. 음악실</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>
                <img src="{{ url_for('static', filename='img/music_class.webp') }}" alt="음악실"><br>
              </p>
              <div class="li-index">
                <li>주로 1학년과 3학년이 음악수업을 듣기 위해서 오는 곳이다.</li>
              </div>
            </div>
          </div>

          <!-- 컴퓨터실 Section -->
          <div class="section" id="section_5_3">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>5.3. 컴퓨터실</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>
                <img src="{{ url_for('static', filename='img/computer_class.webp') }}" alt="컴퓨터실"><br>
              </p>
              <div class="li-index">
                <li>2021년 기준 사진에 나와있는 컴퓨터실이 아니라 4층에 있으며 굉장히 깔끔하고 컴퓨터나 IT관련 진로에 도움이 되는 것들이 조금있다.</li>
              </div>
            </div>
          </div>

          <!-- 동아리실 Section -->
          <div class="section" id="section_5_4">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>5.4. 동아리실</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>동아리 시간에 각 반의 교실이나 다른 빈 교실 등을 이용한다.</p>
            </div>
          </div>

          <!-- 밴드실 Section -->
          <div class="section" id="section_5_5">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>5.5. 밴드실</h3>
            </div>
            <div class="section-body">
              <hr>
              <div class="li-index">
                <li>방송실과 함께 쓰였는데 바로 윗 층 교실에 소음이 심해 4층 동아리실로 옮겼다.</li>
                <li>대일밴드라는 이름으로 활동 중</li>
              </div>
            </div>
          </div>

          <!-- 생활관(화산의지원) Section -->
          <div class="section" id="section_5_6">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>5.6. 생활관(화산의지원)</h3>
            </div>
            <div class="section-body">
              <hr>
              <div class="li-index">
                <li>이름은 화산의지원이지만. 보통 생활관, 기숙사로 부른다.</li>
                <li>생활관 바로 옆에 교직원 주차장이 있다.</li>
                <li>학교에 있기 때문에 편하긴 하지만 이곳저곳 불만이 터져 나오니 그렇게 좋아보이진 않는다. 또한 내부에는 컴퓨터실에서 자료조사나 개인 공부를 할 수 있는 곳이 있으며 내부는 상당히 깔끔하다고 한다.</li>
                <li>와이파이가 터지는 방이 있고 터지지 않는 방이 있다고 한다.</li>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- 학교 생활 Section -->
      <div class="section" id="section_6">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>6. 학교 생활</h2>
        </div>
        <div class="section-body">
          <hr>
          <!-- 주요 행사 Section -->
          <div class="section" id="section_6_1">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>6.1. 주요 행사</h3>
            </div>
            <div class="section-body">
              <hr>
              <div class="li-index">
                <li><strong>야영수련활동</strong><br>4월 초에 1학년들이 경상북도 청소년 수련원에 가서 2박 3일을 지내다 오는 활동으로 수련회라고 보면 된다.</li>
                <li><strong>수학여행</strong><br>수학여행 역시 4월 초에서 5월 초 사이에 가게된다. 장소는 2023년 기준으로 제주도와 서울을 다녀왔다. 미리 희망 조사를 하여 학생들이 원하는 곳을 선택하는 구조로 되어있다.</li>
                <li><strong>체육한마당</strong><br>학교 체육대회로 개인 종목보다는 단체 종목이 점수를 후하게 준다.</li>
                <li><strong>느티나무축제</strong><br>교내 축제로 1부와 2부로 나눠서 진행된다. 1부는 부스 운영으로 교내 곳곳에서 진행되며 보통 1학년은 체험 부스를 하고 2학년은 먹거리 부스를 운영한다. 또한 동아리 마다 특색 있는 부스도 많으니 잘 찾아다니며 즐겨보자. 2부는 장기 자랑으로 강당에서 진행하며 학급 혹은 개인 참가자, 동아리 등 많은 친구들이 그동안 갈고닦은 실력을 뽐낸다.</li>
                <li><strong>교내 스포츠리그</strong><br>교내 스포츠리그는 남학생들은 축구, 여학생들은 피구로 반 별로 시합을 한다.</li>
                <li><strong>주제탐구 및 우수동아리 발표회</strong><br>수시 학생부 종합 전형을 노린다면 반드시 참가해야 될 교내 대회이다. 많은 동아리들이 참가하며 주제탐구 부문은 그동안 동아리에서 연구한 성과 혹은 발명한 것을 발표하는 것이고 우수동아리 부문은 1년간의 동아리 활동을 발표하는 대회이다. 규모가 큰 동아리에서 수상을 하는 경우가 많으니 규모가 작은 동아리라면 많은 노력이 필요할 것이다. 또한 매년 이 대회에서 수상한 동아리들의 발표 보고서들을 엮은 책을 학급마다 돌리니 그 책을 참고해보는 것도 나쁘지 않다.</li>
                <li><strong>그린나래 버스킹</strong><br>그린나래 버스킹은 교내에 지어진 작은 무대에서 진행하는 교내 버스킹 행사이다. 학생들이 끼를 뽐낼 수 있으며 3개월 마다 진행된다.</li>
              </div>
            </div>
          </div>

          <!-- 학교 일과 Section -->
          <div class="section" id="section_6_2">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h3>6.2. 학교 일과</h3>
            </div>
            <div class="section-body">
              <hr>
              <p>2025년 석적고등학교의 일과</p>
              <table class="section6-table">
                <tr>
                  <th>시간</th><td>일정</td>
                </tr>
                <tr>
                  <th>08:15</th><td>등교</td>
                </tr>
                <tr>
                  <th>08:15~08:40</th><td>조례</td>
                </tr>
                <tr>
                  <th>08:40~09:30</th><td>1교시</td>
                </tr>
                <tr>
                  <th>09:40~10:30</th><td>2교시</td>
                </tr>
                <tr>
                  <th>10:40~11:30</th><td>3교시</td>
                </tr>
                <tr>
                  <th>11:40~12:30</th><td>4교시</td>
                </tr>
                <tr>
                  <th>12:30~13:40</th><td>중식</td>
                </tr>
                <tr>
                  <th>13:40~14:30</th><td>5교시</td>
                </tr>
                <tr>
                  <th>14:40~15:30</th><td>6교시</td>
                </tr>
                <tr>
                  <th>15:40~16:30</th><td>7교시</td>
                </tr>
                <tr>
                  <th>16:50~17:40</th><td>방과후</td>
                </tr>
                <tr>
                  <th>17:40~18:40</th><td>석식</td>
                </tr>
                <tr>
                  <th>18:40~20:00</th><td>제 1 야간 자율 학습</td>
                </tr>
                <tr>
                  <th>20:10~21:30</th><td>제 2 야간 자율 학습</td>
                </tr>
              </table>
              <div class="li-index">
                <li>교과교실제를 시행하고 있어 매 교시마다 교실을 이동해야 한다.</li>
              </div>
            </div>
          </div>

          <!-- 기숙사 생활 Section -->
          <div class="section" id="section_6_3">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>6.3 기숙사 생활</h2>
            </div>
            <div class="section-body">
              <hr>
              <div class="li-index">
                <li>기숙사 시설은 나름 괜찮지만 산 속에 있어서 전파가 거의 잡히지 않는다. 또 휴대폰을 거두면 아침시간에 잠시 하게 해주고 다음 날 까지 주지 않는다.</li>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- 운동부 Section -->
      <div class="section" id="section_7">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>7. 운동부</h2>
        </div>
        <div class="section-body">
          <hr>
        </div>
      </div>

      <!-- 출신 인물 Section -->
      <div class="section" id="section_8">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>8. 출신 인물</h2>
        </div>
        <div class="section-body">
          <hr>
        </div>
      </div>

      <!-- 이용 가능한 대중교통 Section -->
      <div class="section" id="section_9">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>9. 이용 가능한 대중교통</h2>
        </div>
        <div class="section-body">
          <hr>
          <p>불편한 교통 때문인지 수능 시험장으로 지정되지 않는다. 보통 북삼고등학교, 순심여자고등학교, 순심고등학교 중에 수능을 치러가게 된다.
          </p>
          <p>왕복 2차선 도로에 끝이 막혀있고, 중앙분리대가 있기 때문에 행사때마다 빠져나오기 힘들 정도로 혼잡하다. 특히 아침에 출근시간이랑 겹쳐서 차가 많이 막힌다.
          </p>
          <p>마땅한 대중교통편이 없는 관계상 석적고등학교에는 스쿨버스를 운용중에 있다. 2021년 기준 혜성관광과 계약을 맺었고 등교 하교 모두 스쿨버스가 운행한다. 스쿨버스를 이용하지 않고 학원 버스로 통학을 하는 학생들도 있다.
          </p>
          <p>등교할 때는 7시 25분~7시 35분 정도에 출발해서 7시 50분 정도에 도착한다.
          </p>
          <p>하교할 때는 버스가 3분 전에 미리 출발해서 월~목에는 9시 57분(야간 자율학습 할 때) 금에는 4시 57분(가정의 날)에 출발한다.
          </p>
          <p>2019년도에 버스 교통은 아예 폐지하기로 결심한다. 왜냐하면 구평동(구미) 출신 학생들은 산 2개를 넘어야 하기에 매우 힘들게 등하교하는 일이 있어. 2019년도 부터 버스 교통은 하지 않기로 공약을 걸었다. 그러나 재계약으로 버스가 2019년에도 운영하기 시작했다.
          </p>
          <p>2020년부터는 석적고등학교와 혜성관광의 계약을 끝내고 혜성관광 단독으로 스쿨버스를 운영하고 있다.
          </p>
          <p>그리고 2016년도 신입생들은 알다시피 위처럼 버스문제가 심한데. 특히 버스가 늦게 도착하는 바람에 학생들이 지각하는 일이 있거나 자주는 아니지만 가끔은 있다.
          </p>
          <p>2021년에는 2월달 버스비를 다시 돌려주지 않아 논란이 됐지만 학생들의 항의로 다시 돌려줬다.
          </p>
          <!-- 버스 Section -->
          <div class="section" id="section_9_1">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>9.1. 버스</h2>
            </div>
            <div class="section-body">
              <hr>
              <p>
                <img src="{{ url_for('static', filename='img/bus.png') }}" alt="버스배치표">
              </p>
              <p>잘 안 알려진 사실이지만 9번 팥재주차장방면을 타고 종점까지 가면 거기서 동명방면 버스와 연계되며, 동명에서는 대구시내가는 버스가 수시로 다닌다.</p>
            </div>
          </div>

        </div>
      </div>

      <!-- 사건 사고 및 논란 Section -->
      <div class="section" id="section_10">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>10. 사건 사고 및 논란</h2>
        </div>
        <div class="section-body">
          <hr>
          <p>언론에서 보도한 경우에만 서술합니다.</p>
          <!-- 2016년 급식 식중독 사고 Section -->
          <div class="section" id="section_10_1">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>10.1. 2016년 급식 식중독 사고</h2>
            </div>
            <div class="section-body">
              <hr>
              <p>2016년 4월에 인동고와 석적고에서 동시에 식중독 사고가 발생하였다.</p>
              <p>2016년 8월 <a href="https://www.imaeil.com/?ismobile=true" style="color: #0000cc;">기사</a>에 의하면 식중독 사고는 식품의약품안전처의 역학조사 결과 원인불가 판정 발표가 났지만 식중독 사고 조사 과정에서 입찰 부정은 덜미를 잡혔고 경찰은 유령회사를 내세워 학교급식용 식자재를 중복 투찰해 입찰을 싹쓸이한 혐의로 칠곡군의 식자재 납품업체 대표를 구속하고 6명은 불구속했다고 한다.</p>
              <p>입찰 과정의 허점을 이용한 것도 모자라 식재료 납품 과정에서도 문제가 있었고 경찰 수사결과, 이들은 지키도록한 차량소독 같은 규정을 아예 지키지도 않았고 게다가 허위증명서로 식재료를 납품하는 불법을 저질렀다고 한다.</p>
            </div>
          </div>

        </div>
      </div>

      <!-- 학급 Section -->
      <div class="section" id="section_11">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>11. 학급</h2>
        </div>
        <div class="section-body">
          <hr>
          <!-- 3학년 6반 Section -->
          <div class="section" id="section_11_1">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>11.1. 3학년 6반</h2>
            </div>
            <div class="section-body">
              <hr>
              <h3>꿈을 향한 도전! 더불어 사는 지혜, 비상(飛上) 석적고등학교!</h3><br>
              <p>경상북도 칠곡군 석적읍에 있는 남녀 공학 공립 일반계 고등학교의 3학년 6반이다.</p>
            </div>
          </div>

          <!-- 6반 인물들 Section -->
          <div class="section" id="section_11_2">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>11.2. 6반의 인물들</h2>
            </div>
            <div class="section-body">
              <hr>
              <div>
                <!-- 선생님 Section -->
                <div class="section" id="section_11_2_1">
                  <div class="section-header">
                    <span class="toggle-button">▼</span>
                    <h3>11.2.1. 선생님</h3>
                  </div>
                  <div class="section-body">
                    <hr>
                    <p>3학년 6반의 담임선생님은 이진일 선생님<a class="fn" id="fn_1" href="#footnote-1">[1]</a>이다. 담당 과목은 지구과학2와 생활과 과학이다.</p>
                  </div>
                </div>

                <!-- 반장 Section -->
                <div class="section" id="section_11_2_2">
                  <div class="section-header">
                    <span class="toggle-button">▼</span>
                    <h3>11.2.2. 반장</h3>
                  </div>
                  <div class="section-body">
                    <hr>
                    <p>3학년 6반의 반장으로 반 아이들을 잘 이끌어주며 학급 내 다양한 역할을 수행한다.</p>
                  </div>
                </div>

                <!-- 부반장 Section -->
                <div class="section" id="section_11_2_3">
                  <div class="section-header">
                    <span class="toggle-button">▼</span>
                    <h3>11.2.3. 부반장</h3>
                  </div>
                  <div class="section-body">
                    <hr>
                    <p>3학년 6반의 부반장으로 바장을 도와 성실하게 제 역할을 수행한다.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- 사건사고목록 Section -->
          <div class="section" id="section_11_3">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>11.3. 사건사고 목록</h2>
            </div>
            <div class="section-body">
              <hr>
              <p>3학년 6반의 다양한 사건들</p>
              <!-- 사건1 Section -->
              <div class="section" id="section_11_3_1">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>11.3.1. 사건1</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <p>내용</p>
                </div>
              </div>
              
              <!-- 사건1 Section -->
              <div class="section" id="section_11_3_2">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>11.3.2. 사건2</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <p>내용</p>
                </div>
              </div>
              
              <!-- 사건1 Section -->
              <div class="section" id="section_11_3_3">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>11.3.3. 사건3</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <p>내용</p>
                </div>
              </div>
                
            </div>
          </div>

          <!-- 명대사 Section -->
          <div class="section" id="section_11_4">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>11.4. 명대사</h2>
            </div>
            <div class="section-body">
              <hr>
              <div class="section-body-content">
                <h4>" 오종없 만있반 "</h4>
                <p> - 이진일 선생님 -</p>
              </div>
              <p>3학년 6반의 대표적인 명대사로, 오늘 종례 없음 만약 있으면 반톡'의 줄임말이다. 창시자는 6반의 담임인 이진일 선생님이다.</p>
            </div>
          </div>

          <!-- 청소역할분담 Section -->
          <div class="section" id="section_11_5">
            <div class="section-header">
              <span class="toggle-button">▼</span>
              <h2>11.5. 청소역할분담</h2>
            </div>
            <div class="section-body">
              <hr>
              <p>A, B, C조로 나뉘어져 주마다 돌아가며 청소를 담당한다.</p>
              <!-- A조 Section -->
              <div class="section" id="section_11_5_1">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>11.5.1. A조</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <p>내용</p>
                </div>
              </div>
              
              <!-- B조 Section -->
              <div class="section" id="section_11_5_2">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>11.5.2. B조</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <p>내용</p>
                </div>
              </div>
              
              <!-- C조 Section -->
              <div class="section" id="section_11_5_3">
                <div class="section-header">
                  <span class="toggle-button">▼</span>
                  <h3>11.5.3. C조</h3>
                </div>
                <div class="section-body">
                  <hr>
                  <p>내용</p>
                </div>
              </div>
            
            </div>
          </div>

        </div>
      </div>

      <!-- 기타 Section -->
      <div class="section" id="section_12">
        <div class="section-header">
          <span class="toggle-button">▼</span>
          <h2>12. 기타</h2>
        </div>
        <div class="section-body">
          <hr>
          <div class="li-index">
            <li>코로나19때 2021년 1학기까진 보건 교사가 열 체크를 확인한 후에 학생들을 각 층으로 올려 보냈는데 지금은 학생들이 스스로 열 체크를 하고 올라갔었다.</li>
            <li>2020년 코로나19로 인해서 교내 자판기를 이용할 때에는 이전처럼 반으로 들어가거나 복도에서는 자판기 음식 혹은 가져온 음식 등을 섭취하는 것이 금지되었었다.</li>
            <li>2021년에 들어서면서부터 각 학년마다 베이스 옆에 남/녀 탈의실이 설치 되었다. 탈의실이 설치가 되면서 학생들이 화장실로 들어가서 체육복을 갈아입고 나오는 빈도가 꽤 줄어들었다.</li>
            <li>칠곡의 관련된 학교들 중에서도 원격수업을 제일 안해주는 학교다. 교내 확진자가 나와서 위험한 상황임에도 불구하고 무조건 등교를 강행하는 모습을 보인다.</li>
          </div>
        </div>
      </div>

      <!-- 각주 Section -->
      <div class="footnote">
        <br>
        <hr>
        <h3>각주</h3>
        <p id="footnote-1"><a href="#fn_1">[1]</a> 공식 홈페이지 슬로건</p>
        <p id="footnote-2">[2] 내용</p>
        <p id="footnote-3">[3] 내용</p>
      </div>
    
    </div>
    
    <!-- 초록색 맨 아래 -->
    <footer>
      <div>
        <a>Developer - 3601, 3603, 3625</a>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>
</html>
