<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>석적고등학교 위키</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=1.0">
  </head>
  <body>

    <!-- NavBar -->
    {% include "_navbar.html" %}

    {% block content %}
    <div class='container'>    
        <!-- Article Content -->
        {% block page_content %}
        {% endblock %}
    </div>
    {% endblock %}    

    
    <footer>
      <div>
        <a>Developer - 3601, 3603, 3625</a>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  </body>
</html>
