{% extends "base.html" %}

{% block page_content %}
<div class="content">
  <button onclick="signInWithGoogle()">Google로 로그인</button>

<script>
  function signInWithGoogle() {
    var provider = new firebase.auth.GoogleAuthProvider();
    firebase.auth().signInWithPopup(provider)
      .then(function(result) {
        var token = result.credential.accessToken;
        var user = result.user;
        sendUserInfoToServer(user);
      }).catch(function(error) {
        console.error("Google 로그인 실패:", error);
      });
  }

  function sendUserInfoToServer(user) {
    
  }
</script>
</div>
{% endblock %}